<!DOCTYPE html>
<div id="top" class="header">
        <div class="vert-text">
        	<!--https://www.flickr.com/photos/61020194@N04/13404527634/lightbox/?q=doctor%20patient-->
            <h1>OncoGram</h1>
            <h3><em>Screening System</em>   </h3>
             <!--<a href="#mission" class="btn btn-success">Find Out More</a>-->
            <div class="page-scroll">
                <a href="#about" class="btn btn-circle">
                    <i class="fa fa-angle-down animated"></i>
                </a>
            </div>
        </div>
    </div>



    <div id="about" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2> A culturally sensitive approach to cervical cancer screening </h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-user-md"></i>
                        <h4>Access to Expertise</h4>
                        <p>There are an estimated 500,000 deaths per year to cervical cancer around the world. In countries like Tanzania, there is only 1 pathologist for every 2.5 million people. Lack of access to expertise is one of the largest barriers to preventative care. OncoGram seeks to address this issue by enabling rural health clinics to tap into larger resource networks through its data transferring system. </p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-hospital-o"></i>
                        <h4> Scalability</h4>
                        <p>The typical 3-tiered paradigm for treatment includes screening, diagnosis and therapy. This current process requires substantial infrastructure and can take multiple visits. Training staff members to properly perform and analyze complex screening examinations often leads to high rates of false positive results. In combination, these factors prohibit screening centers from rapidly expanding into areas of greatest need. OncoGram's mobile screening device allows existing clinics to incorporate the capacity for preventative care more easily.</p>
                    </div>
                </div>
              
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-money"></i>
                        <h4>Cost Effective</h4>
                        <p>Thanks to the development of the Pap smear, cervical cancer has become one of the most preventable forms of cancer. Unfortunately Pap smears are still quite expensive require highly trained staff to interpret the results. Other cheaper forms of screening produce high rates of false positives. OncoGram seeks to reduce subjectivity by recording screening results digitally and allowing more physicians to analyze results.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- add in a photo for below -->

     <div id="mission" class="mission">
        <div class="container">
            <div class="row">

            	<h2 class="text-center top-scroll">The Mission</h2><br><br>
            	<div class="col-md-6">
                  <!--img src="" class="img-responsive" alt="Responsive image"  ADD SOME IMAGE HERE --> 

                    <iframe width="476" height="400" src="//www.youtube.com/embed/33gLiwLzY88" frameborder="0" allowfullscreen></iframe>
                 
                    
                </div>
                <div class="col-md-6">
                  <!--img src="" class="img-responsive" alt="Responsive image"  ADD SOME IMAGE HERE --> 
                    <iframe src="http://www.slideshare.net/slideshow/embed_code/32895336" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                    <h4 class="text-center"><a href="http://nimmi.bme.duke.edu/">Ramanujam Lab</a></h4>
                </div>
               
                 
                 
            </div>
            <br><br>
        </div>
    </div>



    
    
     <!-- Map -->
     <div id="map" class="text-center maps"> 
        <br>
        <h2 class="text-center">Global Reach</h2>
        <br>
        <iframe width="60%" height="80%" frameborder="0" marginheight="0" scrolling="no" marginwidth="30px" src="https://mapsengine.google.com/map/embed?mid=zouFOMrRvzXs.kwWYr8IdYUJg" width="640" height="480"></iframe>
             
    </div>
    <!-- /Map -->



  	<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/GavinOvsak/OncoGram"><i class="fa fa-github fa-3x"></i></a>
                            
                        </li>
                       
                    </ul>
                    
                    <hr>
                    <p>Copyright &copy; OncoGram 2014.</p>
                </div>
            </div>
        </div>
    </footer>