<!DOCTYPE html>
<div id="top" class="header">
        <div class="vert-text">
        	<!--https://www.flickr.com/photos/61020194@N04/13404527634/lightbox/?q=doctor%20patient-->
            <h1>OncoGram</h1>
            <h3><strong>Screening</strong> for <em>Cancer</em>  </h3>
             <!--<a href="#mission" class="btn btn-success">Find Out More</a>-->
            <div class="page-scroll">
                <a href="#about" class="btn btn-circle">
                    <i class="fa fa-angle-down animated"></i>
                </a>
            </div>
        </div>
    </div>



    <div id="about" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Applications</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-stethoscope"></i>
                        <h4>col 1</h4>
                        <p>sentence </p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-hospital-o"></i>
                        <h4> col 2</h4>
                        <p>sentence </p>
                    </div>
                </div>
              
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-user-md"></i>
                        <h4>col 3</h4>
                        <p>sentence</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- add in a photo for below -->

     <div id="mission" class="">
        <div class="container">
            <div class="row">
            	<h2 class="text-center">The Mission</h2><br><br>
            	<div class="col-md-6">
                  <!--img src="" class="img-responsive" alt="Responsive image"  ADD SOME IMAGE HERE --> 

                    <p class="lead"> Youtube Video Here </p>
                 
                    
                </div>
                <div class="col-md-6">
                  <!--img src="" class="img-responsive" alt="Responsive image"  ADD SOME IMAGE HERE --> 
                    <iframe src="http://www.slideshare.net/slideshow/embed_code/32895336" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                    
                </div>
               
                 
                 
            </div>
            <br><br>
        </div>
    </div>



    
    
     <!-- Map -->
     <div id="map"> 
        
        <iframe width="100%" height="100%" frameborder="0" marginheight="0" scrolling="no" marginwidth="0" src="https://mapsengine.google.com/map/embed?mid=zouFOMrRvzXs.kwWYr8IdYUJg" width="640" height="480"></iframe>
             
    </div>
    <!-- /Map -->



  	<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/GavinOvsak/OncoGram"><i class="fa fa-github fa-3x"></i></a>
                            
                        </li>
                       
                    </ul>
                    
                    <hr>
                    <p>Copyright &copy; OncoGram 2014.</p>
                </div>
            </div>
        </div>
    </footer>